body {
    background-color: #9ccddb;
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.titulo {
    text-align: center;
    font-size: 35px;
    color: #2b2b2b;
    font-family: 'Oswald';
    margin-bottom: 20px;
}

.texto{
    text-align: center;
    font-size: 20px;
    color: #898989;
    font-family: 'Montserrat';
    margin-bottom: 15px;
}
.textoFinal {
    text-align: center;
    font-size: 25px;
    color: #898989;
    font-family: 'Montserrat';
    margin-bottom: 15px;
}
.caixa-fundo {
    background-color:rgba(255, 255, 255, 0.85);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 20px;
}
.botao{
    background-color: rgba(43, 43, 43, 0.7);
    color: #f8f8f8;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.input {
    background-color: rgba(137, 137, 137, 0.9);
    color: #f8f8f8;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}
